body{
    margin: 0;
    background: #faf4fa;
}

.container{
    width: 1200px;
    margin:  0 auto;
}

.banner{
    margin-top: 30px;
}
.banner img{
    width: 100%;
}

nav{
    display: flex;
    background: #000;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    padding: 0;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 30px 20px;
    border-right: 1px solid white;
}

ul li a:hover{
    color: #8f8806;
}

ul li{
    list-style-type: none;
}

form button{
    background: #8f8806;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

form input{
    width: 330px;
    height: 30px;
}

section .nd{
    color: #a36209;
}

.row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.row .cols img{
    width: 100%;
}

.row .cols .img{
    overflow: hidden;
}

.row .cols img:hover{
    transform:scale(1.1);
    transition: 0.4s;
}

.row .cols{
    background: white;
    border: 1px solid grey;
    padding: 12px;
    text-align: center;
    overflow: hidden;
    display: block;
}

.row .cols span{
    color:#970505;
    font-weight: 700;
}

footer{
    background: #000;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo p{
    margin: 0 10px;
}

.logo b{
    border: 1px solid grey;
}
